<section class="container">
	<div class="row-fluid">
		<div class="col-md-3 col-sm-4">
			<div class="account-menu">
				<h4>My Account</h4>
				<span class="pointer active">Profile</span>
				<span class="pointer">Settings</span>
				<span class="pointer">Orders</span>
			</div>
		</div>
		<div class="col-md-9 col-sm-8">
			<div class="account-content">

				<div class="account-panel start">
					<h4>Profile</h4>
					<span class="panel-content">
						<div class="account-input-cont">
							<div class="row">
								<div class="col-sm-12">
									<form class="form-login" id="updateName" method="post" autocomplete="on">
										<p><b>Name</b></p>
								  		<input type="text" class="form-control" id="name" placeholder="Your Name">
								  		<button type="submit" class="btn btn-default">Update Name</button>
									</form>
									<form class="form-login" id="updateEmail" method="post" autocomplete="on">
										<p><b>Email</b></p>
								  		<input type="email" class="form-control" id="email" placeholder="Your Email">
										<p><b><small>Retype Email (if updating)</small></b></p>
								  		<input type="email" class="form-control" id="remail" placeholder="Retype it">
								  		<button type="submit" class="btn btn-default">Update Email</button>
									</form>
								</div>
							</div>
						</div>
					</span>
				</div>

				<div class="account-panel">
					<h4>Settings</h4>
					<span class="panel-content">
						Stuff
					</span>
				</div>

				<div class="account-panel">
					<h4>Orders</h4>
					<span class="panel-content">
						<ul class="list-group">
								<li class="list-group-item">
									<span class="badge">14.99</span>
									<i class="fa fa-image fa-4x"></i> Past orders
								</li>
								<li class="list-group-item">
									<span class="badge">14.99</span>
									<i class="fa fa-image fa-4x"></i> Past orders
								</li>
								<li class="list-group-item">
									<span class="badge">14.99</span>
									<i class="fa fa-image fa-4x"></i> Past orders
								</li>
								<li class="list-group-item">
									<span class="badge">14.99</span>
									<i class="fa fa-image fa-4x"></i> Past orders
								</li>
							</ul>
					</span>
				</div>

			</div>
		</div>
	</div>
</section>