<section class="container-fluid featurette">
	<div class="row">
		<div class="row title text-left">
			<div class="container">
				<h2>Say Hello!</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="container">
			    <div class="col-lg-10 col-md-10 col-sm-10">
					<p>If you ever have a question, we're just a phone call away... or an email... or a postcard. Your choice.</p>
					<p>But seriously, please contact us if there is anything we can do to help you create the kitchen of your dreams.</p>
			    </div>
		    </div>
	    </div>
	</div>
	<br class="hidden-xs">
	<br class="hidden-xs">
	<br class="hidden-xs">
	<br class="hidden-xs">
	<div class="row">
	    <div class="col-lg-6 col-lg-offset-1">
			<form role="form">
			  <div class="row form-group">
				<div class="col-sm-6 col-xs-12">
				  <input type="text" class="form-control" id="FirstName" placeholder="First Name">
				</div>
				<div class="col-sm-6 col-xs-12">
				  <input type="text" class="form-control" id="LastName" placeholder="Last Name">
				</div>
			  </div>
			  <div class="row form-group">
				<div class="col-sm-6 col-xs-12">
				  <input type="email" class="form-control" id="email" placeholder="Email">
				</div>
				<div class="col-sm-6 col-xs-12">
		            <div class="input-group">
		                <input type="text" class="form-control" id="phone" placeholder="phone (optional)">
		                <span class="input-group-btn">
		                    <button type="submit" class="btn btn-default"><i class="fa fa-envelope"></i></button>
		                </span>
		            </div>
				</div>
			  </div>
			  <div class="row form-group">
				<div class="col-xs-12">
				  <textarea type="text" class="form-control email-message" id="message" placeholder="Questions/Comments"></textarea>
				</div>
			  </div>
			</form>
		</div>
	    <div class="col-lg-4">
			<div class="well">
				<p>Email: info@safastone.com</p>
				<p>Phone: 1-800-555-SAFA (7232)</p>
				<p>Fax: 1-973-772-5858</p>
				<p>Address: 2 Ackerman Ave. Clifton, NJ 07011</p>
				<p><a href="http://www.google.maps.com">Map & Directions >></a></p>
			</div>
	    </div>
	</div>
	<br class="hidden-xs">
	<br class="hidden-xs">
	<br class="hidden-xs">
	<br class="hidden-xs">
	<div class="row">
		<div class="container">
			<div class="well">
				<h2>Customer Care</h2>
				<hr>
				<p>SafaStone is a solid surface countertop process, which has been developed by Safas Corporation. Since 1990, Safas Corporation has been manufacturing, formulating and patenting specialty products to best serve the needs of the rapidly growing solid surface market. SafaStone countertops use Granicoat®; a patented spray-on solid surface material, for the beautiful appearance and durable finishes of your countertop. Granicoat has been used in hundreds of applications around the world to fabricate solid surface products.</p>
				<p>Both Granicoat and SafaStone carry a 10-year limited warranty against material defects when applied and cured properly, so you and your family can rest assured that your beautiful, new SafaStone countertop will remain as beautiful a centerpiece of your kitchen as the day you had it installed.</p>
			</div>
		</div>
	</div>
</section>