<section class="banner-welcome">
	<div class="row-fluid hidden-xs">
		<div class="js-slider-home carousel slide slider" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target=".js-slider-home" data-slide-to="0" class="active"></li>
				<li data-target=".js-slider-home" data-slide-to="1"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<span class="container media-object">
						<div class="col-lg-5 col-md-4 col-sm-5">
							<span class="slide-caption">
								<h1>COSMIC FOG FLAVORS</h1>
								<p>These flavors will blow your mind! From wild tastes of COLA GUMMY to the mellow MILK & HONEY</p>
								<span class="btn btn-default">Shop Now</span>
							</span>
						</div>
						<div class="col-lg-7 col-md-8 col-sm-7 text-center">
							<img src="img/slider-home-1.png">
						</div>
					</span>
				</div>
				<div class="item">
					<span class="container media-object">
						<div class="col-lg-5 col-md-4 col-sm-5">
							<span class="slide-caption">
								<h1>HOLY GRAIL ELIXERS</h1>
								<p>Take a journey back to midevil times and check out these fine vapor options.</p>
								<span class="btn btn-default">Shop Now</span>
							</span>
						</div>
						<div class="col-lg-7 col-md-8 col-sm-7 text-center">
							<img src="img/slider-home-2.png">
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="row-fluid">
		<div class="container featured">
			<h3>Brand New Products
			<span class="btn btn-default pull-right"><a href="#!/products">Shop All</a></span></h3>
			<hr>
			<div class="js-featured row-fluid featured-items">
				
			</div>
		</div>
	</div>
</section>