<section>
	<div class="row-fluid">
		<div class="container">
			<div class="row-fluid">
				<div class="col-md-3 col-sm-4">
					<div class="js-brands side-menu">
						<h4>Brands</h4>
						<span data-search="CosmicFog" class="pointer">Cosmic Fog</span>
						<span data-search="HolyGrail" class="pointer">Holy Grail</span>
						<span data-search="SpaceJam" class="pointer">Space Jam</span>
					</div>
				</div>
				<div class="col-md-9 col-sm-8">
					<div class="row-fluid">
						<ul class="js-flavors flavors list-inline">
							<li><h4>Flavor filter: </h4></li>
							<li><a data-filter="fruit"><h4><i class="fa fa-lemon-o"></i></h4><p>Fruit</p></a></li>
							<li><a data-filter="custard"><h4><i class="fa fa-birthday-cake"></i></h4><p>Custard</p></a></li>
							<li><a data-filter="drink"><h4><i class="fa fa-glass"></i></h4><p>Drink</p></a></li>
							<li><a data-filter="savory"><h4><i class="fa fa-cutlery"></i></h4><p>Savory</p></a></li>
							<li><a data-filter=""><h4><i class="fa fa-times"></i></h4><p>Clear</p></a></li>
						</ul>
					</div>
					<div class="js-products cont-products row-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>