<div class="container">
	<div class="row-fluid">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center cont-login">
			<a href="#!/home"><img src="img/logo.svg" alt="Logo" width="200" height="auto"></a>
			<div id="container-reset-error" class="hidden alert alert-danger alert-error">
			    <a class="js-close-alert close">&times;</a>
			    <div class="status-msg">
				    <strong>Sorry. </strong><span id="reset-error"></span>
			    </div>
			</div>
			<form class="form-login" id="reset" method="post">
				<input type="password" id="password" class="form-control input-login" placeholder="New Password">
				<input type="password" id="conPassword" class="form-control input-login" placeholder="Confirm New Password">
				<button type="submit" id="button-submit" class="btn btn-default login-btn btn-block input-login">Reset</button>
			</form>
		</div>
	</div>
</div>